
*{
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 80px 20px 0 0;

}
/*---------HEADER-------*/
.header{

    background-color: #815009;
    height: 80px;
    position: fixed;
    top:0;
    width: 100%;

}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;

}

.nav-link{
    color: white;
    text-decoration: none;
}

/*-------------FOOOTER----------------*/
.footer{

    background-color: darkgray;
    color: white;
    text-align: center;
    position: fixed;

    left: 0;
    width: 100%;
    bottom: 0;
    line-height: 30px;
}


/*-------------CONTENIDO-------------*/
.contenido{

    background-color: #fce9cf;
    position: fixed;
    top:80px;
    left: 0%;
    right: 0%;
    bottom: 30px;
    overflow: hidden;
    padding: 10px;
    


}

.contenido-seccion{
    display: flex;
    margin-top: 10px;
}

.article {

    margin-left: 25%;
    margin-top: 10%;
    padding: 40px;
    position: static;
    
    
    background-color: #815009;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
    max-width: 50%;
}

.form{
    display: grid;
    font-size: 20px;
    
    
}

.articleVide {

    margin-left: 25%;
    margin-top: 10%;
    padding: 40px;
    position: static;
    
    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
    max-width: 50%;
}

.articleMap{
    margin-left: 7%;
    margin-top: 5%;
    padding: 40px;
    position: static;
}



